.Box {
    border: 2px solid blue;
    margin: 10px;
}

.Box2 {
    border: 2px solid rgb(255, 100, 11);
    margin: 10px;
}

.Box3 {
    border: 2px solid rgb(111, 255, 0);
    margin: 10px;
}

.Box4 {
    border: 2px solid rgb(255, 0, 144);
    margin: 10px;
}
