.box { 
    width: 200px;
    height: 200px;
    border-style: dashed solid double outset;
    background-color: rgb(255, 255, 255);
    border-width: 4px 8px 12px 16px;
    border-color: black red aqua green;
    border-radius: 10px 20px 0 30%;
}