
/* 
@media screen and (min-width: 500px){
    body { 
        background-color: aqua;
    }
} */

/* @media screen and (max-width: 300px){
    body { 
        background-color: rgb(255, 200, 0);
        font-style: italic;
    }
} */

/* @media screen and (min-height: 500px){
    p { 
        background-color: green;
    }
} */



@media screen and (min-width: 700px){
    body{
        display: flex;
        width: 100px;
        height: 100px;
        background-color: rgb(0, 0, 0);
        margin: 8px;
        border-radius: 20%;
    }
}

@media screen and (max-width: 700px){
     body {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 100px;
        background-color: rgb(0, 221, 255);
        margin: 8px;
        border-radius: 20%;
    }
}





