/* 웹 폰트 */
/* 
    -구글 웹 폰트, 눈누 웹 폰트가 대중적
    - 모든 브라우저에서 보는 폰트를 통일
    - 폰트를 다운로드 하는 것이 아니라 link 태그에 걸려있는 주소에서 폰트를 가져오는 방식
    - 보통 기본 폰트는 body, *, root, html  등등 태그에 작성
*/

/* 2. 눈누 폰트 적용(보통 상단에 적용) */
@font-face {
    font-family: 'NoonnuBasicGothicRegular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 
    font-face
    - css에서 웹폰트를 정의하기 위해 사용되는 규칙
    - 이를 통해 웹사이트에 사용자 정의 폰트를 추가하고, 사용자 기기에 폰트가 설치되어 있지 않아도 사용할 수 있음*/



body {
    /* 1. 구글 폰트 적용 */
    /* font-family: "Geist Mono", monospace; */
    /* Geist Mono 사용, 없다면 monospace가 대체로 사용됨 */
  /* font-optical-sizing: auto; */
  /* 텍스트 크기에 따라 글꼴 디자이너가 의도한 세부적인 모양으로 자동 조절 */
  /* font-weight: 900; */
}

/* 2. 눈누 폰트 적용법 */
/* *{
    font-family: 'NoonnuBasicGothicRegular';
} */

body {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'STUNNING-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/STUNNING-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*.text {
    font-family: 'STUNNING-Bd';
}

div {
    /* 색상 */
    /* 글자색 */
    color: blueviolet;

    /* 글자 크기 */
    font-size: 30px;

    /*  폰트 굵기  */

    font-weight: 300;

    /* 폰트 모양 */

    font-style: oblique 90deg;

    /* 정렬
        - center, left, right, justify */

    text-align: center;

    /* 글자선*/
    text-decoration: line-through;
}



